@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta Data -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="cheneler products ltd website">
    <meta name="author" content="lee cheneler">
    <!-- Title -->
    <title>Cheneler Products - Brick Cutting</title>
    <!-- Core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <!-- Plugin CSS -->
    <link rel="stylesheet" href="~/Content/animate.min.css" type="text/css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/Content/site.css" type="text/css">
</head>
<body id="page-top">
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a data-scroll class="navbar-brand page-scroll" href="#page-top">Cheneler Products</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a data-scroll class="page-scroll" href="#services">Services</a>
                    </li>
                    <li>
                        <a data-scroll class="page-scroll" href="#cutting">Cutting</a>
                    </li>
                    <li>
                        <a data-scroll class="page-scroll" href="#bonding">Bonding</a>
                    </li>
                    <li>
                        <a data-scroll class="page-scroll" href="#arches">Prefabricated Arches</a>
                    </li>
                    <li>
                        <a data-scroll class="page-scroll" href="#contact">Contact</a>
                    </li>
                    <li>
                        <a data-scroll class="page-scroll" href="#findus">Find Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>Cheneler Products Ltd</h1>
                <hr>
                <h2>Brick Cutting &amp; Bonding Specialists</h2>
                <p>Call our office on <strong>01827 65740</strong> or drop us an email at <a href="mailto:chenelerproducts@hotmail.co.uk"> <strong>chenelerproducts@hotmail.co.uk</strong></a>.</p>
                <a data-scroll href="#services" class="btn btn-primary btn-xl page-scroll wow swing">services</a>
            </div>
        </div>
    </header>
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-circle-o wow zoomIn text-primary"></i>
                        <h3>Cutting</h3>
                        <p class="text-muted">Machinery that can cut a wide array of materials.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x  fa-circle-o wow zoomIn text-primary" data-wow-delay=".1s"></i>
                        <h3>Bonding</h3>
                        <p class="text-muted">Colour match is always provided to hide the bond.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x  fa-circle-o wow zoomIn text-primary" data-wow-delay=".2s"></i>
                        <h3>Prefabricated Arches</h3>
                        <p class="text-muted">Prefabricated arches with a brick slip face.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-circle-o wow zoomIn text-primary" data-wow-delay=".3s"></i>
                        <h3>Collection &amp; Delivery</h3>
                        <p class="text-muted">3.25 tonne lorry with a Fassi F-50 crane.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="cutting" class="bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Cutting</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container text-center">
            <p>
                We have a number of machines of various size. This allows us to cut almost any building material. We are capable of cutting <strong>brick, concrete, thermalite, stone, tile, slabs and curb stones</strong>.
            </p>
            <p>
                We use custom made jigs on custom machine beds that allow to cut a wide variety of cuts including: <strong>half bat (snap header), gable, brick slip, brick pistol slip, rebated stretcher, queen closer and many more</strong>. However we aren't restricted to standard cuts, we can adjust our jigs to produce almost any cut you want.
            </p>
            <p>
                We also produce arch cuts for <strong>flag gauge, skewback, segmental and bullseye</strong> arches. Each cut for a flat guage arch is <strong>specially calculated and unique</strong> to ensure complete correctness.
            </p>
            <p>
                We employ rigorous <strong>quality control</strong> to ensure that our cuts are as accurate as possible.
            </p>
            <i class="fa fa-4x  fa-circle-o wow zoomIn text-primary"></i>
        </div>
    </section>
    <section id="bonding">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Bonding</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container text-center">
            <p>
                Due to our custom jigs we are able to produce a wide array of bonds including standard bonds such as: <strong>AN 1.X (squint), AN 2.X (external corner), AN 3.X (internal corner), PL 4.X and PL 6.X (plinths) and many more</strong>. However we aren't restricted to standard bonds, we can adjust our jigs to produce almost any bond you want.
            </p>
            <p>
                We use a <strong>high quality</strong> adhesive to ensure that the bonds are solid and secure. We colour the adhesive personally for each batch of bricks we glue. This means that the bond is less noticable, and on some bricks is difficult to see. This colour match is <strong>free of charge</strong>.
            </p>
            <i class="fa fa-4x  fa-circle-o wow zoomIn text-primary"></i>
        </div>
    </section>
    <section id="arches" class="bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Prefabricated Arches</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container text-center">
            <p>
                We produce three types of prefabricated arch: <strong>flag gauge, skewback and segmental</strong>. Each cut for a flat guage arch is <strong>specially calculated and unique</strong> to ensure complete correctness). These can then be mounted onto either a length of high quality sips board (structural insulated panel) or a back made up of concrete blocks.
            </p>
            <i class="fa fa-4x  fa-circle-o wow zoomIn text-primary"></i>
        </div>
    </section>
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2>Contact Us</h2>
                    <hr class="small">
                    <h4>
                        <strong>Cheneler Products Ltd</strong>
                    </h4>
                    <address>
                        Bonehill Farm<br />
                        Bonehill Road<br />
                        Tamworth<br />
                        Staffordshire<br />
                        B78 3HP
                    </address>
                    <ul class="list-unstyled">
                        <li>
                            <span class="glyphicon glyphicon-phone" aria-hidden="true"></span> (Office) 01827 65740
                        </li>
                        <li>
                            <span class="glyphicon glyphicon-phone" aria-hidden="true"></span> (Mobile) 07748118610
                        </li>
                        <li>
                            <span class="glyphicon glyphicon-print" aria-hidden="true"></span> 01827 59755
                        </li>
                        <li>
                            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span><a href="mailto:chenelerproducts@hotmail.co.uk"> chenelerproducts@hotmail.co.uk</a>
                        </li>
                    </ul>
                    <br>
                </div>
            </div>
        </div>
    </section>
    <section id="findus" class="bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2>Find Us</h2>
                    <hr class="small">
                    <div>
                        <iframe width="100%" height="300px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed/v1/place?q=Cheneler%20Products%2C%20Tamworth%2C%20United%20Kingdom&key=AIzaSyD5DVLpALTyUGtcI2kyW4tsoVtiQTltAAA"></iframe>
                        <br />
                        <small>
                            <a href="https://www.google.com/maps/embed/v1/place?q=Cheneler%20Products%2C%20Tamworth%2C%20United%20Kingdom&key=AIzaSyD5DVLpALTyUGtcI2kyW4tsoVtiQTltAAA"></a>
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer -->
    <footer>
        <hr class="small">
        <p class="text-center">Copyright &copy; Cheneler Products Ltd @DateTime.Now.Year</p>
    </footer>
    <!-- Core Js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="~/scripts/smooth-scroll.min.js"></script>
    <script src="~/scripts/jquery.fittext.min.js"></script>
    <script src="~/scripts/wow.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="~/scripts/site.min.js"></script>
    
    <script type="text/javascript">
        var appInsights=window.appInsights||function(config){
            function r(config){t[config]=function(){var i=arguments;t.queue.push(function(){t[config].apply(t,i)})}}var t={config:config},u=document,e=window,o="script",s=u.createElement(o),i,f;for(s.src=config.url||"//az416426.vo.msecnd.net/scripts/a/ai.0.js",u.getElementsByTagName(o)[0].parentNode.appendChild(s),t.cookie=u.cookie,t.queue=[],i=["Event","Exception","Metric","PageView","Trace"];i.length;)r("track"+i.pop());return r("setAuthenticatedUserContext"),r("clearAuthenticatedUserContext"),config.disableExceptionTracking||(i="onerror",r("_"+i),f=e[i],e[i]=function(config,r,u,e,o){var s=f&&f(config,r,u,e,o);return s!==!0&&t["_"+i](config,r,u,e,o),s}),t
        }({
            instrumentationKey: "c3dae63c-d234-4a69-8d24-ed7cde25c932"
        });

        window.appInsights=appInsights;
        appInsights.trackPageView();
    </script>
</body>
</html>
